<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Projeto1</title>
</head>
    <body>
    <header>
        <nav class="navbar is-mobile">
            <div class="hero-body">
                <a href="https://arono.com.br/">
                  <img src="/static/image/arono.png"  alt="Bulma: Free," width="170" height="90">
                </a>
            </div>
        </nav>
    </header>
    <section class="section2 is-mobile">
        <div class="container">
          <div class="columns is-mobile">
          <div class="column is-3">
             <svg class="icon-inline icon-5x svg-icon-text" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51">
                 <path d="M25.5,0A25.5,25.5,0,1,0,51,25.5,25.53,25.53,0,0,0,25.5,0Zm0,50A24.5,24.5,0,1,1,50,25.5,24.53,24.53,0,0,1,25.5,50ZM39.11,28.83l-1.6.58L33,16.88a.53.53,0,0,0-.26-.29.5.5,0,0,0-.38,0l-12.64,4.6-1.11-3c0-.12-.71-2.84-3-2.91-1.06,0-4.93.06-5.09.06a.51.51,0,0,0-.49.51.55.55,0,0,0,.52.49s4-.1,5-.06c1.53.05,2.06,2.12,2.08,2.2l5.12,14.08a4,4,0,1,0,4.63,1.65l12.09-4.4a.5.5,0,1,0-.34-.94ZM20,22.12,25.9,20v0l1.6,4.39a.49.49,0,0,0,.47.33.51.51,0,0,0,.17,0,.5.5,0,0,0,.3-.64l-1.6-4.39v0l5.35-1.94,4.39,12.06-9.9,3.61A4,4,0,0,0,24,32.3l-.25,0ZM24,39.3a3,3,0,1,1,3-3A3,3,0,0,1,24,39.3Z"></path>
             </svg>
            <div class="col-auto">
             <h3 class="h5 has-text-black">Frete sempre Grátis</h3>
             <p>Oferta Exclusiva Arono</p>  
            </div>
          </div>
             <div class="column is-3">
                <svg class="icon-inline icon-5x svg-icon-text" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51">
                  <path d="M25.5,51A25.5,25.5,0,1,1,51,25.5,25.53,25.53,0,0,1,25.5,51Zm0-50A24.5,24.5,0,1,0,50,25.5,24.53,24.53,0,0,0,25.5,1Zm10,35h-20A3.5,3.5,0,0,1,12,32.5v-13A3.5,3.5,0,0,1,15.5,16h20A3.5,3.5,0,0,1,39,19.5v13A3.5,3.5,0,0,1,35.5,36Zm-20-19A2.5,2.5,0,0,0,13,19.5v13A2.5,2.5,0,0,0,15.5,35h20A2.5,2.5,0,0,0,38,32.5v-13A2.5,2.5,0,0,0,35.5,17ZM22,31.5a.5.5,0,0,0-.5-.5h-5a.5.5,0,0,0,0,1h5A.5.5,0,0,0,22,31.5Zm7,0a.5.5,0,0,0-.5-.5h-5a.5.5,0,0,0,0,1h5A.5.5,0,0,0,29,31.5Zm7,0a.5.5,0,0,0-.5-.5h-5a.5.5,0,0,0,0,1h5A.5.5,0,0,0,36,31.5Zm0-11a.5.5,0,0,0-.5-.5h-2a.5.5,0,0,0,0,1h2A.5.5,0,0,0,36,20.5ZM21.5,26h-5a.5.5,0,0,1-.5-.5v-5a.5.5,0,0,1,.5-.5h5a.5.5,0,0,1,.5.5v5A.5.5,0,0,1,21.5,26ZM17,25h4V21H17Z"></path>
                </svg>
               <div class="col-p">
                  <h3 class="h5 has-text-black">Parcele suas Compras</h3>
                  <p>5x Sem Juros</p>  
                </div>
              </div>
            <div class="column is-3 ">
              <svg class="icon-inline icon-5x svg-icon-text" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51">
                <path d="M25.5,39a.51.51,0,0,1-.17,0c-9.9-3.55-12.9-15.81-12.3-21.59a.51.51,0,0,1,.31-.41l12-4.93a.5.5,0,0,1,.38,0l12,4.93a.51.51,0,0,1,.31.41c.6,5.78-2.4,18-12.3,21.59A.51.51,0,0,1,25.5,39ZM14,17.78C13.56,23.36,16.42,34.59,25.5,38,34.58,34.59,37.44,23.36,37,17.78L25.5,13ZM23.72,30.4l9.84-9.76a.5.5,0,0,0-.71-.71l-9.49,9.41-4.48-4.46a.5.5,0,0,0-.7.71L23,30.4a.5.5,0,0,0,.35.15A.51.51,0,0,0,23.72,30.4ZM25.5,51A25.5,25.5,0,1,1,51,25.5,25.53,25.53,0,0,1,25.5,51Zm0-50A24.5,24.5,0,1,0,50,25.5,24.53,24.53,0,0,0,25.5,1Z"></path>
              </svg> 
             <div class="col-p-0">
                <h3 class="h5 has-text-black">Site 100% Seguro</h3>
               <p>Somos blindados contra fraudes</p>
             </div>
            </div>
             <div class="column is-3">
              <svg class="icon-inline icon-5x svg-icon-text" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51 51"><path d="M40.19,24.12l-2.81-2.48v-6.7a1.32,1.32,0,0,0-1.32-1.32H32.81a1.32,1.32,0,0,0-1.31,1.32v1.51l-4.3-3.8a2.54,2.54,0,0,0-3.39,0l-13,11.5a1.4,1.4,0,0,0-.41,1,1.37,1.37,0,0,0,.33.85l1.13,1.25a1.57,1.57,0,0,0,1,.39,1.6,1.6,0,0,0,.8-.31v9.57A2.12,2.12,0,0,0,15.75,39h19.5a2.13,2.13,0,0,0,2.13-2.12V27.31h0a1.59,1.59,0,0,0,.79.3h.1a1.54,1.54,0,0,0,.92-.43l1.12-1.25a1.59,1.59,0,0,0,.3-.79.17.17,0,0,0,0-.1,1.57,1.57,0,0,0-.39-.89Zm-.65,1.19-1,1.18a.58.58,0,0,1-.26.13.79.79,0,0,1-.22-.08l-.8-.71a.51.51,0,0,0-.54-.08.5.5,0,0,0-.29.46V36.88A1.13,1.13,0,0,1,35.25,38H15.75a1.12,1.12,0,0,1-1.12-1.12V26.21a.51.51,0,0,0-.29-.46.52.52,0,0,0-.21,0,.5.5,0,0,0-.33.12l-.77.68a1.58,1.58,0,0,1-.2.12.61.61,0,0,1-.29-.11l-1.07-1.19a.52.52,0,0,1-.1-.2.41.41,0,0,1,.1-.25l13-11.49a1.89,1.89,0,0,1,1-.39,1.85,1.85,0,0,1,1,.4l5.14,4.54a.51.51,0,0,0,.54.08.51.51,0,0,0,.29-.46V14.94a.32.32,0,0,1,.31-.32h3.25a.33.33,0,0,1,.32.32v6.93a.51.51,0,0,0,.16.37l3,2.61a.57.57,0,0,1,.12.26A.64.64,0,0,1,39.54,25.31Z
                M28.29,27.35a3.75,3.75,0,1,0-5.58,0,5.37,5.37,0,0,0-4.21,5.24,1.32,1.32,0,0,0,1.31,1.32H31.19a1.32,1.32,0,0,0,1.31-1.32A5.37,5.37,0,0,0,28.29,27.35Zm2.9,5.56H19.81a.31.31,0,0,1-.31-.32,4.38,4.38,0,0,1,4.38-4.37H24a.51.51,0,0,0,.49-.38.5.5,0,0,0-.25-.56,2.75,2.75,0,1,1,4-2.44,2.77,2.77,0,0,1-1.4,2.4.54.54,0,0,0-.16.72.49.49,0,0,0,.43.26,4.38,4.38,0,0,1,4.38,4.37A.31.31,0,0,1,31.19,32.91Z
                M25.5,0A25.5,25.5,0,1,0,51,25.5,25.53,25.53,0,0,0,25.5,0Zm0,50A24.5,24.5,0,1,1,50,25.5,24.53,24.53,0,0,1,25.5,50Z"></path>
              </svg>
              <div class="col-p-1">
                <h3 class="h5 has-text-black m-0">Entrega</h3>
                <p class="m-0">Receba seu pedido aonde quiser</p>
            </div>
             </div>
         </div>   
     </div>
      </div>
    </section>
       <section >
            <div class="container">
                <div class="columns is-mobile">
                    <div class="column is-5">
                      <div class="cueca1">
                        <img src="/static/image/cueca.png" alt="hello">
                      </div>
                    </div>
                       <div class="column is-4">
                      <div class="field">
                        <div class="card">
                                <header class="card-header">
                                  <p class="card-header-title">
                                   Quer ganhar 10% de desconto na primeira compra? Cadastre-se e receba o seu voucher!
                                  </p>
                                </header>
                              <form action="/formulario" method="POST">
                                <div class="card-content">
                                    <div class="content">
                                       <div class="field">
                                         <label class="label">Nome</label>
                                        <div class="control">
                                          <input class="input" type="text" placeholder="Nome" name="name">
                                       </div>
                                    </div>  
                                   <div class="field">
                                      <label class="label">Email</label>
                                        <div class="control ">
                                       <input class="input " type="email" placeholder="Email" name="Email">
                                     </div>
                                    </div>
                                    <div class="field">
                                 <label class="label">Cidade</label>
                                       <div class="control">
                                       <input class="input " type="text" placeholder="Cidade" name="Cidade">
                                      </div>
                                    </div>
                                    <div class="field">
                                      <label class="label">Telefone</label>
                                     <div class="control">
                                      <input class="input " type="number" placeholder="Telefone" name="Telefone">
                                     </div>
                                    </div>  
                                    <div class="field is-grouped">
                                      <div class="control">
                                         <button class="button is-black" type="submit">Cupom de desconto</button>
                                    </div> 
                                  </div>
                                </div>
                              </form> 
                            </div>
                        </div>
                        </div>    
                     </div>
                        <div class="column is-5">
                          <div class="cueca2">
                            <img src="/static/image/cuecared.png">
                          </div> 
                        </div>
                </div>
            </div>
        </section>
        <footer class="footer-legal">
          <div class="font">
            Copyright Arono Loja Online - 2020. Todos os direitos reservados
          </div>
        </footer>
    </body>
</html>